body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EB9D86;
    display: flex;
    justify-content: center;
    align-items: center;
}

#riveContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.invisible-button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 276px; /* Ancho del botón en Rive */
    height: 142px; /* Alto del botón en Rive */
    border-radius: 59px; /* Redondeo de bordes */
}

/* Posicionar los botones invisibles */
#youtubeButton {
    top: 334.5px; /* Posición Y */
    left: 160.5px; /* Posición X */
}

#linkedinButton {
    top: 334.5px; /* Posición Y */
    left: 561.5px; /* Posición X */
}

#mailButton {
    top: 1110.5px; /* Posición Y */
    left: 561.5px; /* Posición X */
}

#portfolioButton {
    top: 1110.5px; /* Posición Y */
    left: 160.5px; /* Posición X */
}
